Repository kevgogo/TemplateAngular20: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,html,scss,css,json,md}": ["prettier --write"],
  "*.{ts,html}": ["eslint --fix"]
}

LINT FIXES
  src/app/app.routes.ts
  src/app/core/auth/auth-callback.component.ts
  src/app/core/graphql/graphql-auth.service.ts
  src/app/core/graphql/graphql-client.service.ts
  src/app/core/guards/access-control.guard.ts
  src/app/core/interceptors/auth-interceptor.ts
  src/app/core/interceptors/graphql-interceptor.ts
  src/app/core/models/api.types.ts
  src/app/core/models/menu.model.ts
  src/app/core/models/menu.types.ts
  src/app/core/models/user.model.ts
  src/app/core/services/auth.service.ts
  src/app/core/services/common.service.ts
  src/app/core/services/layout.service.ts
  src/app/core/services/menu.service.ts
  src/app/core/services/settings.service.ts
  src/app/core/services/system.service.ts
  src/app/core/services/theme.service.ts
  src/app/core/services/translator.service.ts
  src/app/core/utils/menu-adapters.util.ts
  src/app/core/utils/menu-tree.util.ts
  src/app/layout/breadcrumbs/breadcrumbs.component.ts
  src/app/layout/sidebar/sidebar.component.ts
  src/app/pages/demo/devextreme/scheduler/scheduler-demo.page.ts
  src/app/pages/demo/shared/shared-showcase.page.ts
  src/app/pages/errors/forbidden.page.ts
  src/app/pages/errors/not-found.page.ts
  src/app/pages/errors/server-error.page.ts
  src/app/pages/errors/unauthorized.page.ts
  src/app/shared/components/dialogs/confirm/confirm-modal.component.ts
  src/app/shared/components/dialogs/confirm/confirm-template.directive.ts
  src/app/shared/components/dialogs/confirm/confirm.service.ts
  src/app/shared/components/dialogs/confirm/confirm.state.ts
  src/app/shared/components/dialogs/message/message-modal.component.ts
  src/app/shared/components/dialogs/message/message-template.directive.ts
  src/app/shared/components/progressbar/progressbar.component.ts
  src/app/shared/directives/has-permission.directive.ts
Due: prettier --write, eslint --fix

fixes
  src/app/core/models/menu.types.ts
  src/app/core/utils/menu-adapters.util.ts
  src/app/layout/headbar/headbar.component.ts
  src/app/layout/navbar/navbar.component.ts
  src/app/layout/shell/shell.component.ts
  src/app/layout/sidebar/sidebar.component.ts
  src/app/pages/demo/devextreme/treeview/treeview-demo.page.ts
  src/app/pages/demo/fa4-search/fa4-search.component.ts
  src/app/pages/demo/files/files-demo.page.ts
  src/app/pages/demo/graphql/graphql-demo.page.ts
  src/app/pages/demo/messages/messages-demo.page.ts
  src/app/pages/demo/modals/modal-inject-demo.page.ts
  src/app/pages/demo/shared/shared-showcase.page.ts
  src/app/pages/demo/test/adder.component.spec.ts
  src/app/pages/errors/forbidden.page.ts
  src/app/pages/errors/not-found.page.ts
  src/app/pages/errors/server-error.page.ts
  src/app/pages/errors/unauthorized.page.ts
  src/app/shared/app-third-party.providers.ts
  src/app/shared/components/alert/alert.component.html
  src/app/shared/components/alert/alert.component.ts
  src/app/shared/components/chrono/chrono.component.ts
Due: prettier --write, eslint --fix

Create politicas_y_reglas_linting.md
  docs/politicas_y_reglas_linting.md
Due: prettier --write

Update politicas_y_reglas_linting.md
  docs/politicas_y_reglas_linting.md
Due: prettier --write

remove unnecesary commentaries
  .husky/pre-commit
  commitlint.config.cjs
  package-lock.json
  package.json
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/core/auth/auth-callback.component.scss
  src/app/core/auth/auth-callback.component.ts
  src/app/core/constants/api-paths.ts
  src/app/core/constants/api-urls.ts
  src/app/core/graphql/graphql-auth.service.ts
  src/app/core/graphql/graphql-client.service.ts
  src/app/core/guards/access-control.guard.ts
  src/app/core/interceptors/auth-interceptor.ts
  src/app/core/interceptors/graphql-interceptor.ts
  src/app/core/models/api.types.ts
  src/app/core/models/layout.models.ts
  src/app/core/models/menu.types.ts
  src/app/core/models/user.model.ts
  src/app/core/services/auth.service.ts
  src/app/core/services/common.service.ts
  src/app/core/services/layout.service.ts
  src/app/core/services/menu.service.ts
  src/app/core/services/settings.service.ts
  src/app/core/services/system.service.ts
  src/app/core/services/theme.service.ts
  src/app/core/services/translator.service.ts
  src/app/core/tokens/app-tokens.ts
  src/app/core/utils/menu-adapters.util.ts
  src/app/core/utils/menu-tree.util.ts
  src/app/shared/app-shared-imports.ts
  src/app/shared/app-third-party.providers.ts
  src/app/shared/directives/has-permission.directive.ts
Due: prettier --write, eslint --fix

Husky Integration
  .husky/commit-msg
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  commitlint.config.cjs
  commitlint.formatter.cjs
  docs/politicas_y_reglas_commits.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update prepare-commit-msg
  .husky/prepare-commit-msg
Due: none

test
  .husky/prepare-commit-msg
  devextreme-license.ts
Due: prettier --write, eslint --fix

delete
  .gitmessage.txt
  .husky/commit-msg
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  commitlint.config.cjs
  commitlint.config.cjs.old
Due: none

task: test
  .gitmessage.txt
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .lintstagedrc.json
  commitlint.config.cjs
  scripts/prepare-commit-msg.js
Due: prettier --write

chore: remove commit template in favor of husky hooks
  .gitmessage.txt
  .husky/commit-msg
  scripts/commit-msg-augment.js
  scripts/prepare-commit-msg.js
Due: none

task: fix scripts
  .gitignore
  scripts/prepare-commit-msg.js
Due: none

refactor: commit
  .husky/commit-msg
  scripts/commit-msg-guard.js
  scripts/prepare-commit-msg.js
Due: none

chore: se realiza tarea de actualización
  .eslintignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .prettierignore
  .vscode/settings.json
  eslint.config.js
  package.json
  scripts/commit-msg-guard.js
  scripts/prepare-commit-msg.js
Due: prettier --write

test: desde Github Desktop
  .gitignore
  scripts/commit-msg-augment.js
  scripts/commit-msg-guard.js
  scripts/prepare-commit-msg.js
Due: none

chore: test texto github cambios prueba
  README.md
  scripts/prepare-commit-msg.js
Due: prettier --write

test: prueba archivo readme.md para comprobar
  README.md
Due: prettier --write

test: prueba texto vscode readme
  README.md
Due: prettier --write

chore: test CONFIG FLUJO COMMIT
  README.md
  scripts/prepare-commit-msg.js
Due: prettier --write

chore: update files for testing
  README.md
  commitlint.config.cjs
  scripts/prepare-commit-msg.js
Due: prettier --write

chore: create colors.scss
  src/styles/colors.scss
Due: prettier --write

chore: delete styles look & feel igual a transporte
  src/assets/css/themes.css
  src/styles.scss
  src/styles/theme.scss
Due: prettier --write

chore: add styles look & feel igual a transporte
  src/styles/app.scss
  src/styles/dx-overrides.scss
  src/styles/typography.scss
Due: prettier --write

chore: update shell.component.scss
  src/app/layout/shell/shell.component.scss
Due: prettier --write

chore: update theme.service.ts
  src/app/core/services/theme.service.ts
Due: prettier --write, eslint --fix

chore: update commitlint.config.cjs
  commitlint.config.cjs
Due: none

chore: update angular.json
  angular.json
Due: prettier --write

chore: update devextreme
  package-lock.json
  package.json
Due: prettier --write

chore: update look n feel
  src/app/layout/navbar/navbar.component.html
  src/app/layout/shell/shell.component.scss
  src/app/layout/sidebar/sidebar.component.html
  src/app/layout/sidebar/sidebar.component.scss
  src/app/layout/sidebar/sidebar.component.ts
Due: prettier --write, eslint --fix

chore: update app.scss
  src/styles/app.scss
Due: prettier --write

fix: sidebar
  src/app/layout/shell/shell.component.html
  src/styles/app.scss
Due: prettier --write, eslint --fix

chore: union de variables fijas desde el app.scss
  src/app/layout/breadcrumbs/breadcrumbs.component.scss
  src/app/layout/headbar/headbar.component.scss
  src/app/layout/navbar/navbar.component.scss
  src/app/layout/shell/shell.component.scss
  src/app/layout/sidebar/sidebar.component.scss
  src/styles/app.scss
Due: prettier --write

chore: ajustes tipografia
  src/app/layout/navbar/navbar.component.scss
  src/styles/typography.scss
Due: prettier --write

chore: updates translator
  src/app/core/services/translator.service.ts
  src/app/pages/demo/shared/shared-showcase.page.ts
  src/index.html
Due: prettier --write, eslint --fix

chore: ajustes varios
  src/app/app.routes.ts
  src/app/layout/sidebar/sidebar.component.scss
  src/app/pages/demo/demo.routes.ts
  src/index.html
  src/styles/_colibri.colors.scss
  src/styles/dx-overrides.scss
Due: prettier --write, eslint --fix

chore: update sidebar.component.scss
  src/app/layout/sidebar/sidebar.component.scss
Due: prettier --write

chore: update navbar v2
  src/app/layout/navbar/navbar.component.html
  src/app/layout/navbar/navbar.component.scss
Due: prettier --write, eslint --fix
